body {
    background-image: url(pizza.jpg);
    color: white;
  }
  
  #formpizza {
    margin: auto;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.596);
    width: 40%;
  }
  
  legend {
    text-align: center;
    background-color: rgb(255, 0, 0);
  }
  
  #lcobertura {
    text-align: center;
  }

  .centralizar {
    margin: auto;
    text-align: center;
  }

.resp {
    width: 40%;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.596);
}

  @media(max-width: 768px) {
    #formpizza {
        width: 100%;
    }

    .resp {
        width: 40%;
    }
  }