{% extends 'base.html' %}
{% block titulo %}Inicio{% endblock %}
{% block content %}
{% load static %}

<div class="container-fluid  py-5">
    <div class="container py-5">

        <div class="row g-4">
            <div class="col-lg-12">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{message}}
                </div>
                {% else %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}

                <!-- Carousel -->
                <div id="bannerCarousel" class="carousel slide pb-5 data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#">
                                <img src="{% static 'img/banner3.jpg' %}" class="d-block w-100" alt="Banner 1">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <img src="{% static 'img/banner2.jpg' %}" class="d-block w-100" alt="Banner 2">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <img src="{% static 'img/banner1.jpg' %}" class="d-block w-100" alt="Banner 3">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                {% if grupo_usuario == 'Pessoa' %}

                <!-- Feature Start -->
                <div class="container-fluid feature bg-light py-5">
                    <div class="container py-5">
                        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
                            <h4 class="text-primary">Nossas Funcionalidades</h4>
                            <h1 class="display-4 mb-4">Encontre tudo para o seu melhor amigo</h1>
                            <p class="mb-0">Descubra nossos produtos, serviços e oportunidades de adoção para garantir o
                                melhor para
                                seu pet.</p>
                        </div>
                        <div class="row g-4 d-flex justify-content-center">
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="feature-item p-4 pt-0 h-100 d-flex flex-column">
                                    <div class="feature-icon p-4 mb-4">
                                        <i class="fa fa-paw fa-3x"></i>
                                    </div>
                                    <h4 class="mb-4">Produtos de Alta Qualidade</h4>
                                    <p class="mb-4 flex-grow-1">Encontre uma vasta seleção de produtos para todas as
                                        necessidades do
                                        seu pet, desde alimentos até brinquedos.</p>
                                    <a class="btn btn-primary rounded-pill py-2 px-4 mt-auto" href="{% url 'produtos' %}">Veja os
                                        Produtos</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="feature-item p-4 pt-0 h-100 d-flex flex-column">
                                    <div class="feature-icon p-4 mb-4">
                                        <i class="fa fa-heart fa-3x"></i>
                                    </div>
                                    <h4 class="mb-4">Adoção de Pets</h4>
                                    <p class="mb-4 flex-grow-1">Descubra nossos amigos peludos que estão prontos para
                                        encontrar um
                                        novo lar e faça a diferença na vida deles.</p>
                                    <a class="btn btn-primary rounded-pill py-2 px-4 mt-auto" href="{% url 'adocao' %}">Conheça os
                                        Pets</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="feature-item p-4 pt-0 h-100 d-flex flex-column">
                                    <div class="feature-icon p-4 mb-4">
                                        <i class="fa fa-calendar-check fa-3x"></i>
                                    </div>
                                    <h4 class="mb-4">Agendamento de Serviços</h4>
                                    <p class="mb-4 flex-grow-1">Agende facilmente serviços para o seu pet, como banho e
                                        tosa, com a
                                        flexibilidade que você precisa.</p>
                                    <a class="btn btn-primary rounded-pill py-2 px-4 mt-auto" href="{% url 'servicos' %}">Agende Agora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
                {% endif %}




                <!-- About Start -->
                <div class="container-fluid bg-light about pt-5 pb-5">
                    <div class="container pb-5">
                        <div class="row g-5">
                            <div class="col-xl-6">
                                <div class="about-item-content bg-white rounded p-5 h-100">
                                    <h4 class="text-primary">Sobre Nossa Empresa</h4>
                                    <h1 class="display-4 mb-4">Artemis</h1>
                                    <p>Nosso site foi criado com o intuito de promover adoção, venda e agendamento de
                                        forma prática
                                        e fácil. Nossa missão é conectar pessoas a pets e serviços de forma rápida e
                                        eficiente.</p>
                                    <p>Com uma interface amigável e recursos intuitivos, oferecemos uma experiência
                                        fluida para que
                                        você possa encontrar o que precisa sem complicações.</p>
                                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Adoção de pets
                                        facilitada.</p>
                                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Venda de produtos
                                        para pets de
                                        forma rápida.</p>
                                    <p class="text-dark mb-4"><i class="fa fa-check text-primary me-3"></i>Agendamento
                                        de serviços
                                        sem complicação.</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="bg-white rounded p-5 h-100">
                                    <div class="row g-4 justify-content-center">
                                        <div class="col-12">
                                            <div class="rounded text-center">
                                                <img src="img/logoazul-removebg.png" class="img-fluid rounded w-50"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="bg-light rounded p-3 h-100">
                                                <div>
                                                    <span class="text-primary fs-2 fw-bold" id="total_adocoes"></span>
                                                    <span class="h1 fw-bold text-primary">+</span>
                                                </div>
                                                <h4 class="mb-0 text-dark">Adoções Realizadas</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="bg-light rounded p-3 h-100">
                                                <div>
                                                    <span class="text-primary fs-2 fw-bold"
                                                        id="total_produtos_vendidos"></span>
                                                    <span class="h1 fw-bold text-primary">+</span>
                                                </div>
                                                <h4 class="mb-0 text-dark">Produtos vendidos</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="bg-light rounded p-3 h-100">
                                                <div>
                                                    <span class="text-primary fs-2 fw-bold"
                                                        id="total_servicos_concluidos"></span>
                                                    <span class="h1 fw-bold text-primary">+</span>
                                                </div>
                                                <h4 class="mb-0 text-dark">Serviços Agendados</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="bg-light rounded p-3 h-100">
                                                <div>
                                                    <span class="text-primary fs-2 fw-bold" id="total_petshops"></span>
                                                    <span class="h1 fw-bold text-primary">+</span>
                                                </div>
                                                <h4 class="mb-0 text-dark">Petshops Ativos</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="bg-light rounded p-3 h-100">
                                                <div>
                                                    <span class="text-primary fs-2 fw-bold" id="total_ongs"></span>
                                                    <span class="h1 fw-bold text-primary">+</span>
                                                </div>
                                                <h4 class="mb-0 text-dark">ONGs Ativas</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About End -->

                
                <!-- Dashboard Start -->
                <div class="container-fluid dashboard bg-light py-5">
                    <div class="container py-5">
                        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
                            <h4 class="text-primary">Dashboard</h4>
                            <h1 class="display-4 mb-4">Visualize suas Informações</h1>
                            <p class="mb-0">Escolha o gráfico abaixo para visualizar as informações detalhadas.</p>
                        </div>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="btn-group" role="group" aria-label="Selecione o gráfico">

                                {% if grupo_usuario == 'Pet shop' %}
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#petshop-vendas" aria-expanded="false">Vendas</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#petshop-servicos" aria-expanded="false">Serviços</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#petshop-produto-categoria" aria-expanded="false">Produto por
                                    Categoria</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#petshop-produto-faturamento" aria-expanded="false">Faturamento por
                                    Produto</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#petshop-relatorios" aria-expanded="false">Relatórios PDF</button>

                                {% elif grupo_usuario == 'Pessoa' %}
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#usuario-gastos-produtos" aria-expanded="false">Gastos com
                                    Produtos</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#usuario-gastos-servicos" aria-expanded="false">Gastos com
                                    Serviços</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#usuario-produto-categoria" aria-expanded="false">Produto por
                                    Categoria</button>


                                {% elif grupo_usuario == 'Ong' %}
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#ong-adocoes-concluidas" aria-expanded="false">Adoções
                                    Concluídas</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                                    data-bs-target="#ong-adocoes-tipo" aria-expanded="false">Adoções por Tipo</button>
                                {% endif %}

                            </div>
                        </div>

                        <!-- Pet Shop Graphs -->



                        <div class="collapse mt-4" id="petshop-vendas">
                            <form method="get" action="{% url 'relatorio_venda_ano' %}">
                                <label for="ano">Selecione o ano:</label>
                                <input type="number" name="ano" id="ano" min="2000" max="2100" value="2024">
                                <button type="submit">Gerar Relatório</button>
                            </form>
                            <div class="row">
                                <div class="col-md">
                                    <h4 class="mb-2">Faturamento por mês</h4>
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_faturamento_venda"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <h4 class="mb-2">Produtos por mês</h4>
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_quantidade_venda"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="petshop-servicos">
                            <h2>Serviços</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_faturamento_servico"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_quantidade_servico"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="petshop-produto-categoria">
                            <h2>Produto por Categoria</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_produto_categoria"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="petshop_relatorio_produto_categoria_faturamento"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="petshop-produto-faturamento">
                            <h2>Faturamento por Produto</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div style="width: 250px; height: 200px;">
                                        <canvas id="petshop_relatorio_produto_categoria_faturamento"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="petshop-relatorios">

                            <div class="row justify-content-center">
                                <div class="col-md-4 mb-3">
                                    <!-- Botão para abrir o modal -->
                                    <button class="btn btn-primary btn-lg w-100" data-bs-toggle="modal"
                                        data-bs-target="#modalVendasAno">Vendas por Ano</button>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <form method="get" action="{% url 'relatorio_venda_produtos_pdf' %}"
                                        target="_blank">
                                        <button type="submit" class="btn btn-primary btn-lg w-100">Vendas por
                                            Produtos</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Modal para Vendas por Ano -->
                        <div class="modal fade" id="modalVendasAno" tabindex="-1" aria-labelledby="modalVendasAnoLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalVendasAnoLabel">Filtrar Vendas por Ano</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="get" action="{% url 'relatorio_venda_ano_pdf_viewGeneratePdf' %}"
                                            target="_blank">
                                            <div class="mb-3">
                                                <label for="ano" class="form-label">Selecione o ano:</label>
                                                <input type="number" name="ano" id="ano" min="2000" max="2100"
                                                    value="2024" class="form-control">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Gerar Relatório</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Pessoa Graphs -->
                        <div class="collapse mt-4" id="usuario-gastos-produtos">

                            <div class="row">
                                <div class="col-md">
                                    <h4 class="mb-2">Gastos por mês</h4>
                                    <div class="d-flex justify-content-center" style="height: 300px;">
                                        <canvas id="usuario_relatorio_gastos_produtos"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <h4 class="mb-2">Gastos por categoria</h4>
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="usuario_relatorio_produto_categoria_gastos"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="usuario-gastos-servicos">
                            <h2>Gastos com Serviços</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="usuario_relatorio_gastos_servicos"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="usuario-produto-categoria">
                            <h2>Produto por Categoria</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="usuario_relatorio_produto_categoria"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Ong Graphs -->
                        <div class="collapse mt-4" id="ong-adocoes-concluidas">
                            <h2>Adoções Concluídas</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="ong_relatorio_adocoes_concluidas"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse mt-4" id="ong-adocoes-tipo">
                            <h2>Adoções por Tipo</h2>
                            <div class="row">
                                <div class="col-md">
                                    <div class="d-flex justify-content-center" style=" height: 300px;">
                                        <canvas id="ong_relatorio_adocoes_concluidas_tipo"
                                            style="width: 100%; height: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Dashboard End -->


                {% if grupo_usuario == 'Pet shop' %}




                
                
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var buttons = document.querySelectorAll('.btn-group .btn');
                        buttons.forEach(button => {
                            button.addEventListener('click', function () {
                                var target = document.querySelector(this.getAttribute('data-bs-target'));
                                var collapses = document.querySelectorAll('.collapse');

                                // Mostrar apenas o gráfico correspondente e esconder os outros
                                collapses.forEach(collapse => {
                                    if (collapse !== target) {
                                        var bsCollapse = new bootstrap.Collapse(collapse, { toggle: false });
                                        bsCollapse.hide();
                                    }
                                });

                                // Ativar o botão clicado e desativar os outros
                                buttons.forEach(btn => btn.classList.remove('active'));
                                this.classList.add('active');
                            });
                        });
                    });
                </script>
                {% elif grupo_usuario == 'Pessoa' %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var buttons = document.querySelectorAll('.btn-group .btn');
                        buttons.forEach(button => {
                            button.addEventListener('click', function () {
                                var target = document.querySelector(this.getAttribute('data-bs-target'));
                                var collapses = document.querySelectorAll('.collapse');

                                // Mostrar apenas o gráfico correspondente e esconder os outros
                                collapses.forEach(collapse => {
                                    if (collapse !== target) {
                                        var bsCollapse = new bootstrap.Collapse(collapse, { toggle: false });
                                        bsCollapse.hide();
                                    }
                                });

                                // Ativar o botão clicado e desativar os outros
                                buttons.forEach(btn => btn.classList.remove('active'));
                                this.classList.add('active');
                            });
                        });
                    });
                </script>
                {% elif grupo_usuario == 'Ong' %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var buttons = document.querySelectorAll('.btn-group .btn');
                        buttons.forEach(button => {
                            button.addEventListener('click', function () {
                                var target = document.querySelector(this.getAttribute('data-bs-target'));
                                var collapses = document.querySelectorAll('.collapse');

                                // Mostrar apenas o gráfico correspondente e esconder os outros
                                collapses.forEach(collapse => {
                                    if (collapse !== target) {
                                        var bsCollapse = new bootstrap.Collapse(collapse, { toggle: false });
                                        bsCollapse.hide();
                                    }
                                });

                                // Ativar o botão clicado e desativar os outros
                                buttons.forEach(btn => btn.classList.remove('active'));
                                this.classList.add('active');
                            });
                        });
                    });
                </script>
                {% endif %}


                {% if grupo_usuario == 'Pet shop' %}
                <script>
                    window.onload = function (e) {
                        // Gerais
                        renderiza_total_adocoes('{% url "retorna_total_adocoes" %}');
                        renderiza_total_produtos_vendidos('{% url "retorna_total_produtos_vendidos" %}');
                        renderiza_total_servicos_concluidos('{% url "retorna_total_servicos_concluidos" %}');
                        renderiza_total_petshops('{% url "retorna_total_petshops" %}');
                        renderiza_total_ongs('{% url "retorna_total_ongs" %}');
                        renderiza_petshop_relatorio_faturamento_venda('{% url "petshop_relatorio_faturamento_venda" %}');
                        renderiza_petshop_relatorio_produto_categoria('{% url "petshop_relatorio_produto_categoria" %}');
                        renderiza_petshop_relatorio_quantidade_venda('{% url "petshop_relatorio_quantidade_venda" %}');
                        renderiza_petshop_relatorio_faturamento_servico('{% url "petshop_relatorio_faturamento_servico" %}');
                        renderiza_petshop_relatorio_quantidade_servico('{% url "petshop_relatorio_quantidade_servico" %}');
                        renderiza_petshop_relatorio_produto_categoria_faturamento('{% url "petshop_relatorio_produto_categoria_faturamento" %}');
                    }
                </script>
                {% elif grupo_usuario == 'Pessoa' %}
                <script>
                    window.onload = function (e) {
                        // Gerais
                        renderiza_total_adocoes('{% url "retorna_total_adocoes" %}');
                        renderiza_total_produtos_vendidos('{% url "retorna_total_produtos_vendidos" %}');
                        renderiza_total_servicos_concluidos('{% url "retorna_total_servicos_concluidos" %}');
                        renderiza_total_petshops('{% url "retorna_total_petshops" %}');
                        renderiza_total_ongs('{% url "retorna_total_ongs" %}');
                        renderiza_usuario_relatorio_gastos_produtos('{% url "usuario_relatorio_gastos_produtos" %}');
                        renderiza_usuario_relatorio_gastos_servicos('{% url "usuario_relatorio_gastos_servicos" %}');
                        renderiza_usuario_relatorio_produto_categoria('{% url "usuario_relatorio_produto_categoria" %}');
                        renderiza_usuario_relatorio_produto_categoria_gastos('{% url "usuario_relatorio_produto_categoria_gastos" %}');
                    }
                </script>
                {% elif grupo_usuario == 'Ong' %}
                <script>
                    window.onload = function (e) {
                        // Gerais
                        renderiza_total_adocoes('{% url "retorna_total_adocoes" %}');
                        renderiza_total_produtos_vendidos('{% url "retorna_total_produtos_vendidos" %}');
                        renderiza_total_servicos_concluidos('{% url "retorna_total_servicos_concluidos" %}');
                        renderiza_total_petshops('{% url "retorna_total_petshops" %}');
                        renderiza_total_ongs('{% url "retorna_total_ongs" %}');
                        renderiza_ong_relatorio_adocoes_concluidas('{% url "ong_relatorio_adocoes_concluidas" %}');
                        renderiza_ong_relatorio_adocoes_concluidas_tipo('{% url "ong_relatorio_adocoes_concluidas_tipo" %}');
                    }
                </script>
                {% endif %}

                <!-- Team Start -->
                <div class="container-fluid team pt-5 pb-5">
                    <div class="container pb-5">
                        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
                            <h4 class="text-primary">Nosso time</h4>
                            <h1 class="display-4 mb-4">Conheça os membros do Projeto Artemis</h1>
                        </div>
                        <div class="row g-4 justify-content-center">
                            <div class="col-6 col-md-4 col-lg-2-4">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{% static 'img/carlosalexandre.jpeg' %}"
                                            class="img-fluid rounded-top w-100" alt="">
                                        <div class="team-icon">
                                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0"
                                                href="https://github.com/alexandrecarloss"><i
                                                    class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-title p-4">
                                        <h4 class="mb-0">Carlos Alexandre</h4>
                                        <p class="mb-0">Back-End</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2-4">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{% static 'img/carloseduardo.jpeg' %}"
                                            class="img-fluid rounded-top w-100" alt="">
                                        <div class="team-icon">
                                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0"
                                                href="https://github.com/cadu-araujo"><i class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-title p-4">
                                        <h4 class="mb-0">Carlos Araujo</h4>
                                        <p class="mb-0">Banco de Dados</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2-4">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{% static 'img/jpedro.jpeg' %}" class="img-fluid rounded-top w-100"
                                            alt="">
                                        <div class="team-icon">
                                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0"
                                                href="https://github.com/"><i class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-title p-4">
                                        <h4 class="mb-0">João Pedro</h4>
                                        <p class="mb-0">Analista de Software</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2-4">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{% static 'img/marcusc.jpeg' %}" class="img-fluid rounded-top w-100"
                                            alt="">
                                        <div class="team-icon">
                                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0"
                                                href="https://github.com/MvsCorreia"><i class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-title p-4">
                                        <h4 class="mb-0">Marcus Correia</h4>
                                        <p class="mb-0">Front-End</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2-4">
                                <div class="team-item">
                                    <div class="team-img">
                                        <img src="{% static 'img/mikael.jpeg' %}" class="img-fluid rounded-top w-100"
                                            alt="">
                                        <div class="team-icon">
                                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0"
                                                href="https://github.com/"><i class="fab fa-github"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-title p-4">
                                        <h4 class="mb-0">Mikael Jamil</h4>
                                        <p class="mb-0">Analista de Software</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {% endblock content %}
