{% for pet in pets %}
<div class="col-md-6 col-lg-6 col-xl-3" 
hx-get="fotopet/{{pet.petid}}/0"
hx-target="#fotopet{{pet.petid}}"
hx-trigger="load">
    <div class="rounded position-relative fruite-item" >
        <div class="fruite-img" id="fotopet{{pet.petid}}">
               
        </div>
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{pet.pet_tipo_pttid.pttnome}}</div>
        <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
            <div>
                <div class="d-flex">
                    <div>
                        {% if pet.pessoa_pesid %}
                        <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">{{ pet.pessoa_pesid.pesnome }}</p>
                        {% else %}
                        <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;"> Sem responsável cadastrado</p>
                        {% endif %}
                        <h4>{{ pet.petnome }}</h4>
                        {% if pet.pessoa_pesid %}
                        <p>{{ pet.pessoa_pesid.pesbairro }}, {{ pet.pessoa_pesid.pescidade }}</p>
                        {% else %}
                        <p>Manaus, AM</p>
                        {% endif %}
                    </div>                   
                </div>
            </div>
           
            <div class="mt-auto">
                <a href="{% url 'petdetalhe' pet.petid %}" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}