<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artemis</title>
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">
        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar d-none d-lg-block" style="background-color: #394ea1;">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3">
                            <i class="fas fa-map-marker-alt me-2 text-laranja"></i>
                            <a href="#" class="text-white">Manaus, Amazonas</a>
                        </small>
                        <small class="me-3">
                            <i class="fas fa-envelope me-2 text-laranja"></i>
                            <a href="#" class="text-white">artemis@artemis.com</a>
                        </small>
                    </div>
                    <div class="top-link pe-2">
                        <a href="#" class="text-white">
                            <small class="text-white mx-2">Privacy Policy</small>
                            /
                        </a>
                        <a href="#" class="text-white">
                            <small class="text-white mx-2">Terms of Use</small>
                            /
                        </a>
                        <a href="#" class="text-white">
                            <small class="text-white ms-2">Sales and Refunds</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl" id="navbar">
                    <a href="index.html" class="navbar-brand">
                        <img
                            src="/img/logoazul-removebg.png"
                            alt="Artemis"
                            class="img-fluid"
                            style="width: 180px; height: auto;"
                        >
                    </a>
                    <button
                        class="navbar-toggler py-2 px-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                    >
                        <span class="bi bi-list text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="index.html" class="nav-item nav-link ">Produtos</a>
                            <a href="adocao.html" class="nav-item nav-link active">Adoção</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Serviços</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="#" class="dropdown-item text-white">Banho&Tosa</a>
                                    <a href="#" class="dropdown-item text-white">Passeio</a>
                                    <a href="#" class="dropdown-item text-white">Atendimento</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contato</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <a href="/login.html" class="btn btn-secondary rounded-pill border border-secondary bg-white px-4 py-2 align-self-center text-secondary">
                                Entrar
                                <i class="bi bi-person"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Adoção</h1>
        </div>
        <!-- Single Page Header End -->
        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">Filtro</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <!-- FILTROS -->
                        <div class="row g-4">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input
                                        type="search"
                                        class="form-control p-3"
                                        placeholder="nome"
                                        aria-describedby="search-icon-1"
                                    >
                                    <span id="search-icon-1" class="input-group-text p-3">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="especie">Espécie:</label>
                                    <select
                                        id="especie"
                                        name="especielist"
                                        class="border-0 form-select-sm bg-light me-3"
                                        form="especieform"
                                    >
                                        <option value="null"></option>
                                        <option value="cachorro">Cachorro</option>
                                        <option value="gato">Gato</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="peixe">Peixe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                    <label for="especie">Raça:</label>
                                    <select
                                        id="raca"
                                        name="racalist"
                                        class="border-0 form-select-sm bg-light me-3"
                                        form="racaform"
                                    >
                                        <option value="null"></option>
                                        <option value="viralata">Vira-Lata</option>
                                        <option value="pug">Pug</option>
                                        <option value="alfa">Alfa</option>
                                        <option value="iamese">Siames</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- FIM FILTROS -->
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4 justify-content-left">
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img
                                                    src="img/produtos.jpg"
                                                    class="img-fluid w-100 rounded-top"
                                                    style="max-height: 200px;"
                                                    alt=""
                                                >
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Cachorro</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">MARCUS VINICIUS SOARES CORREIA</p>
                                                            <h4>Maumau</h4>
                                                            <p>Manaus, AM</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img
                                                    src="img/gallery-1.jpg"
                                                    class="img-fluid w-100 rounded-top"
                                                    style="max-height: 200px;"
                                                    alt=""
                                                >
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Gato</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">MARCUS VINICIUS SOARES CORREIA</p>
                                                            <h4>Lucrecia</h4>
                                                            <p>Manaus, AM</p>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/gallery-3.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Gato</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">MARCUS VINICIUS SOARES CORREIA</p>
                                                            <h4>Pandora</h4>
                                                            <p>Manaus, AM</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/gallery-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Gato</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">MARCUS VINICIUS SOARES CORREIA</p>
                                                            <h4>Fred</h4>
                                                            <p>Manaus, AM</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="img/serviços.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Cachorro</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom d-flex flex-column justify-content-between">
                                                <div>
                                                    <div class="d-flex">
                                                        <div>
                                                            <p class="text-secondary" style="font-size: 10px;margin-bottom: 3px;">MARCUS VINICIUS SOARES CORREIA</p>
                                                            <h4>Lucio</h4>
                                                            <p>Manaus, AM</p>
                                                        </div>
                                
                                                    </div>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn azul btn-block rounded-pill px-3"> Quero adotar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End-->
        <footer class="bg-body-tertiary text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3 azul ">
                <a class=" text-white" href="#">ARTEMIS</a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>
