{% extends 'base.html' %}
{% block titulo %}Detalhe do produto {% endblock %}
{% block content %}
{% load static %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    <a href="{% url 'carrinho_user' %}" class="nav-item nav-link">Carrinho</a>  
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                <div class="container-fluid detalhes">
                    <div class="row g-4">
                        <!-- IMAGEM DO PRODUTO -->
                         
                        <div class="col-lg-6"
                        hx-get="../../fotoproduto/{{ produto.proid }}/1"
                        hx-target="#fotoproduto{{ produto.proid }}"
                        hx-trigger="load">
                        <div class="fruite-img" id="fotoproduto{{ produto.proid }}">
                        
                        </div>

                        <!-- <div class="col-lg-6 d-flex justify-content-center align-items-center"
                        hx-get="../../fotoproduto/{{ produto.proid }}/1"
                        hx-target="#fotoprodut{{ produto.proid }}"
                        hx-trigger="load">
                        <div class="fruite-img" id="fotoprodut{{ produto.proid }}">
                        
                        </div>
                         -->
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">{{ produto.pronome }}</h4>
                            <!-- <p class="mb-3">CATEGORIA</p> -->
                            <h5 class="fw-bold mb-3">R$ {{ produto.propreco }}</h5>
                            {% if produto.prodtvalidade %} 
                                <p class="mb-4">Validade: {{ produto.prodtvalidade }}</p>
                            {% endif %}
                            <p class="mb-4">Estoque: {{ produto.prosaldo }}</p>
                            <p class="mb-4">{{ produto.prodescricao }}</p>
                            <form action="{% url 'inserir_produto_carrinho' produto.proid %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group quantity mb-5">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border" type="button">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0 quantity-input" value="1" min="1" max="{{ produto.prosaldo }}" name="carquant">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="btn primaria btn-block mt-4">
                                    <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                    Adicionar ao carrinho
                                </button>
                            </form>                                      
                        </div>
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">{{ produto.propetshop_ptsid.ptsnome }}</button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                    <p>{{ produto.propetshop_ptsid.ptsrua }}, {{ produto.propetshop_ptsid.ptsbairro }}, {{ produto.propetshop_ptsid.ptscidade }}, {{ produto.propetshop_ptsid.ptsestado }}, CNPJ: {{ produto.propetshop_ptsid.ptscnpj }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4 fruite">
                        <div class="col-lg-12">
                            <div class="input-group w-100 mx-auto d-flex mb-4">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <!-- BANNER -->
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="img/serviços.jpg" class="img-fluid w-100 rounded" alt="">
                                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                    <h3 class="text-white fw-bold">PRODUTOS <br> EM <br> PROMOÇÂO</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="img/serviços.jpg" class="img-fluid w-100 rounded" alt="">
                                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                    <h3 class="text-white fw-bold">PRODUTOS <br> EM <br> PROMOÇÂO</h3>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>          
            </div>
        </div>
    </div>

{% endblock %}