{% extends 'base.html' %}
{% block titulo %}Alterar Servico{% endblock %}
{% block content %}

{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-3" role="alert">
            {{message}}
        </div>
    {% else %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endif %}
{% endfor %}
<div id="formServico">
    <form action="{% url 'alteraservico' servico.serid %}" id="cadastroServicoForm" method="post">
        {% csrf_token %}
        <h4 class="mb-3">Informações do Serviço</h4>
        <div class="form-group">
            <label for="servalor">Valor do Serviço:</label>
            <input type="number" step="0.01" class="form-control" id="servalor" name="servalor"
                placeholder="Valor do Serviço" required>
        </div>
        <div class="form-group">
            <label for="serdescricao">Descrição do Serviço:</label>
            <textarea class="form-control" id="serdescricao" name="serdescricao"
                placeholder="Descrição do Serviço" required></textarea>
        </div>
        <div class="form-group">
            <label for="tiposervico" class="form-label">Tipo do Serviço</label>
                <select
                    id="tiposervico"
                    name="servico"
                    class="form-select">
                    <option value="" selected></option>
                    {% for tipo in tiposervicos %}
                    <option value="{{ tipo.tpsid }}" >{{ tipo.tpsnome }}</option>
                    {% endfor %}
                </select>
        </div>
        <button type="submit" class="btn primaria btn-block mt-4">Alterar Serviço</button>
    </form>
</div>
{% endblock %}