{% extends 'base.html' %}
{% block titulo %}Produtos{% endblock %}
{% block content %}

{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-3" role="alert">
            {{message}}
        </div>
    {% else %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endif %}
{% endfor %}
<div id="formProduto">
    <form id="cadastroProdutoForm" action="{% url 'alteraproduto' produto.proid %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="mb-3">Informações do Produto</h4>
        <div class="form-group">
            <label for="pronome">Nome do Produto:</label>
            <input type="text" class="form-control" id="pronome" name="pronome"
                placeholder="Nome do Produto" required>
        </div>
        <div class="form-group">
            <label for="propreco">Preço:</label>
            <input type="number" step="0.01" class="form-control" id="propreco" name="propreco"
                placeholder="Preço" required>
        </div>
        <div class="form-group">
            <label for="prosaldo">Quantidade:</label>
            <input type="number" class="form-control" id="prosaldo" name="prosaldo"
                placeholder="Saldo">
        </div>
        
        <div class="form-group">
            <label for="categoriaproduto" class="form-label">Categoria do Produto</label>
                <select
                    id="categoriaproduto"
                    name="categoriaproduto"
                    class="form-select">
                    <option value="" selected></option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria.ctpid }}" >{{ categoria.ctpnome }}</option>
                    {% endfor %}
                </select>
        </div>
        
        <div class="form-group">
            <label for="profoto">Fotos do Produto:</label>
            <input type="file" class="form-control-file" id="profoto" name="profoto" multiple>
        </div>
        
        <button type="submit" class="btn primaria btn-block mt-4">Cadastrar Produto</button>
    </form>
</div>
{% endblock %}