<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos e Serviços</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>
    <!-- NavBar -->
    <div class="container-fluid fixed-top">
        <!-- TopBar -->
        <div class="container topbar d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3">
                        <i class="fas fa-map-marker-alt me-2 secondaria"></i>
                        <a href="#" class="text-white">Manaus, Amazonas</a>
                    </small>
                    <small class="me-3">
                        <i class="fas fa-envelope me-2 secondaria"></i>
                        <a href="#" class="text-white">artemis@artemis.com</a>
                    </small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Privacy Policy</small>
                        /
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Terms of Use</small>
                        /
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white ms-2">Sales and Refunds</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- TopBar End -->
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl" id="navbar">
                <a href="index.html" class="navbar-brand">
                    <img src="img/logoazul-removebg.png" alt="Artemis" class="img-fluid"
                        style="width: 150px; height: auto;">
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="bi bi-list text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="index.html" class="nav-item nav-link active">Produtos e Serviços</a>
                        <a href="pagAdocao.html" class="nav-item nav-link">Adoção</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Serviços</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="#" class="dropdown-item text-white">Banho&Tosa</a>
                                <a href="#" class="dropdown-item text-white">Passeio</a>
                                <a href="#" class="dropdown-item text-white">Atendimento</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contato</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <a href="/login.html" class="btn rounded-pill px-4 py-2 align-self-center secondaria">
                            Entrar
                            <i class="bi bi-person"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- NavBar End -->


    <!-- Conteúdo da Página de Introdução -->
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-left">
                <h1 class="display-4 fontepoppins">Encontre o serviço perfeito para seu pet</h1>
                <p class="lead">Nossa plataforma oferece uma variedade de serviços para pets, desde grooming até
                    treinamento. Escolha o serviço que melhor atende às necessidades do seu pet e reserve uma data para
                    realizar o serviço.</p>
                <div class="row justify-content-center py-5">
                    <div class="col-md-8 text-center">
                        <button class="btn secondaria btn-lg" onclick="location.href='petshop.html'">
                            <i class="fas fa-paw"></i> Continuar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/gallery-1.jpg" class="d-block w-100 h-400 " alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="img/gallery-3.jpg" class="d-block w-100 h-400 " alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img src="img/gallery-5.jpg" class="d-block w-100 h-400" alt="Third slide">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 Artemis, Inc</p>
            <a href="index.html" class="navbar-brand">
                <img src="img/logoazul-removebg.png" alt="Artemis" class="img-fluid" style="width: 80px; height: auto;">
            </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">About</a>
                </li>
            </ul>
        </footer>
    </div>
    <!-- Footer End -->
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>


</body>

</html>
