{% for servico in servicos %}
<li class="d-flex align-items-center border-bottom">
    <input type="radio" name="petshop" id="petshop{{ servico.serid }}" value="{{ servico.serid }}" class="form-check-input me-2">
    <label for="petshop{{ servico.serid }}" class="d-flex w-100">
        <div>
            <strong>{{ servico.serdescricao }}</strong><br>
            Local: Rua {{ servico.petshop_ptsid.ptsrua }}, {{ servico.petshop_ptsid.ptsnumero }}. {{ servico.petshop_ptsid.ptscidade }}/{{ servico.petshop_ptsid.ptsestado }}
            <br>
            R$ {{ servico.servalor }}
        </div>
    </label>
</li>
{% endfor %}