{% extends 'base.html' %}
{% block titulo %}Carrinho{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produtos</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Total</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carrinho in carrinhos %}
                        <tr hx-get="../fotoproduto/{{ carrinho.carpro.proid }}/2"
                        hx-target="#fotoproduto{{ carrinho.carid }}"
                        hx-trigger="load">
                            <th scope="row">
                                <div class="d-flex align-items-center" id="fotoproduto{{ carrinho.carid }}">
                                    
                                </div>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">{{ carrinho.carpro.pronome }}</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">R$ {{ carrinho.carpro.propreco }}</p>
                            </td>
                            <td>
                                <div class="input-group quantity mb-5">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0 quantity-input" value="{{ carrinho.carquant }}" readonly>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">R$ {{ carrinho.carpreco }}</p>
                            </td>
                            <td>
                                <form action="{% url 'remover_produto_carrinho' carrinho.carid %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-md rounded-circle bg-light border mt-4" type="submit">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Carrinho <span class="fw-normal">Total</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Subtotal:</h5>
                                <p class="mb-0">R$ {{ total_carrinhos }}</p>
                            </div>
                            <!-- <div class="d-flex justify-content-between">
                                <h5 class="mb-0 me-4">Frete</h5>
                                <div class="">
                                    <p class="mb-0">taxa: $3.00</p>
                                </div>
                            </div>
                            <p class="mb-0 text-end">Frete para Manaus.</p> -->
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Total</h5>
                            <p class="mb-0 pe-4">R$ {{ total_carrinhos }}</p>
                        </div>
                        <button
                            class="btn secondaria rounded-pill px-4 py-3 text-uppercase mb-4 ms-4"
                            type="button">Prosseguir ao Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->

{% endblock %}
