<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoção</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <!-- NavBar -->
    <div class="container-fluid fixed-top">
        <!-- TopBar -->
        <div class="container topbar d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3">
                        <i class="fas fa-map-marker-alt me-2 secondaria"></i>
                        <a href="#" class="text-white">Manaus, Amazonas</a>
                    </small>
                    <small class="me-3">
                        <i class="fas fa-envelope me-2 secondaria"></i>
                        <a href="#" class="text-white">artemis@artemis.com</a>
                    </small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Privacy Policy</small>
                        /
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Terms of Use</small>
                        /
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white ms-2">Sales and Refunds</small>
                    </a>
                </div>
            </div>
        </div>
        <!-- TopBar End -->
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl" id="navbar">
                <a href="index.html" class="navbar-brand">
                    <img src="/img/logoazul-removebg.png" alt="Artemis" class="img-fluid"
                        style="width: 150px; height: auto;">
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="bi bi-list text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="index.html" class="nav-item nav-link ">Produtos</a>
                        <a href="#" class="nav-item nav-link active">Adoção</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Serviços</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="#" class="dropdown-item text-white">Banho&Tosa</a>
                                <a href="#" class="dropdown-item text-white">Passeio</a>
                                <a href="#" class="dropdown-item text-white">Atendimento</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contato</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <a href="/login.html" class="btn rounded-pill px-4 py-2 align-self-center secondaria">
                            Entrar
                            <i class="bi bi-person"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- NavBar End -->
    <!-- Conteúdo Principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <!-- Menu de Navegação do Perfil -->
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true"
                        data-target="pets">Pets em Adoção</a>
                    <a href="#" class="list-group-item list-group-item-action"
                        data-target="agendamentos">Agendamentos</a>
                    <a href="#" class="list-group-item list-group-item-action" data-target="configuracoes">Configurações
                        da Conta</a>
                    <!-- Adicione mais links conforme necessário -->
                </div>
            </div>
            <div class="col-md-9">
                <!-- Conteúdo Dinâmico do Perfil -->
                <div class="card conteudo" id="pets">
                    <div class="card-body">
                        <!-- Título -->
                        <h5 class="card-title mb-4">Pets Cadastrados</h5>
                        <!-- Adicionei a classe mb-4 para adicionar uma margem na parte inferior -->
                        <!-- Seção de Pets -->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-3">
                            <!-- Alterei row-cols-lg-3 para row-cols-lg-4 para exibir até 4 cards por linha em telas grandes -->
                            <!-- Pet 1 -->
                            <div class="col">
                                <div class="card h-100">
                                    <a href="#" class="text-decoration-none pet-link" data-bs-toggle="modal"
                                        data-bs-target="#modalEditarPet" data-pet-id="1">
                                        <div
                                            class="card-body text-center d-flex justify-content-center align-items-center flex-column">
                                            <img src="img/gallery-1.jpg" class="card-img-top img-fluid img-circle"
                                                alt="Pet 1">
                                            <h6 class="card-title mt-2 mb-0 text-body-secondary">maumau</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Pet 2 -->
                            <div class="col">
                                <div class="card h-100">
                                    <a href="#" class="text-decoration-none pet-link" data-bs-toggle="modal"
                                        data-bs-target="#modalEditarPet" data-pet-id="2">
                                        <div
                                            class="card-body text-center d-flex justify-content-center align-items-center flex-column">
                                            <img src="img/gallery-3.jpg" class="card-img-top img-fluid img-circle"
                                                alt="Pet 2">
                                            <h6 class="card-title mt-2 mb-0 text-body-secondary">lulu</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Adicione mais colunas conforme necessário para cada pet -->
                        </div>
                    </div>
                    <!-- Botão para adicionar pets -->
                    <button type="button" class="btn btn-primary btn-floating position-absolute top-0 end-0 mt-3 me-3"
                        id="btnAdicionarPet">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>

                <!-- Modal de edição do pet -->
                <div class="modal fade" id="modalEditarPet" tabindex="-1" aria-labelledby="modalEditarPetLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header text-white">
                                <h5 class="modal-title text-body-secondary" id="modalEditarPetLabel">Edição do Pet</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                                <div class="container py-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form id="cadastroForm">
                                                        <!-- Seção de foto do pet -->
                                                        <div class="mb-4 text-center">
                                                            <img src="img/gallery-1.jpg" class="img-fluid img-circle"
                                                                alt="Pet 1">
                                                            <h5 class="mt-3">Nome do Pet</h5>
                                                        </div>
                                                        <!-- Formulário de edição do pet -->
                                                        <div class="mb-3">

                                                            <div class="card-body">
                                                                <form id="cadastroForm">
                                                                    <div class="mb-3">
                                                                        <label for="pettipo" class="form-label">Tipo do
                                                                            Pet (Espécie)</label>
                                                                        <select class="form-select" id="pettipo"
                                                                            name="pettipo" required>
                                                                            <option value="Cachorro">Cachorro</option>
                                                                            <option value="Gato">Gato</option>
                                                                            <option value="Outro">Outro</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="petnome"
                                                                            class="form-label">Nome</label>
                                                                        <input type="text" class="form-control"
                                                                            id="petnome" name="petnome" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Sexo</label>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio"
                                                                                name="petsexo" id="sexoM" value="M"
                                                                                checked>
                                                                            <label class="form-check-label" for="sexoM">
                                                                                Macho
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio"
                                                                                name="petsexo" id="sexoF" value="F">
                                                                            <label class="form-check-label" for="sexoF">
                                                                                Fêmea
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="petdtnascto" class="form-label">Data
                                                                            de nascimento (aproximada)</label>
                                                                        <input type="date" class="form-control"
                                                                            id="petdtnascto" name="petdtnascto"
                                                                            required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="petporte" class="form-label">Porte
                                                                            do Pet</label>
                                                                        <div class="d-flex align-items-center">
                                                                            <select class="form-select" id="petporte"
                                                                                name="petporte" required>
                                                                                <option value="Pequeno">Pequeno</option>
                                                                                <option value="Médio">Médio</option>
                                                                                <option value="Grande">Grande</option>
                                                                            </select>
                                                                            <button class="btn btn-link" type="button"
                                                                                id="btnInfoPorte"
                                                                                data-bs-toggle="popover"
                                                                                title="Porte do Pet"
                                                                                data-bs-content="Pequeno: Geralmente até 30 cm de altura.Médio: Costuma ter entre 30 cm e 60 cm de altura.Grande: Geralmente mais de 60 cm de altura.">
                                                                                <i class="bi bi-question-circle"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="petpeso" class="form-label">Peso (em
                                                                            kg)</label>
                                                                        <input type="number" step="0.01"
                                                                            class="form-control" id="petpeso"
                                                                            name="petpeso" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="petraca" class="form-label">Raça do
                                                                            Pet</label>
                                                                        <select class="form-select" id="petraca"
                                                                            name="petraca" required>
                                                                            <option value="">Selecione a raça</option>
                                                                            <option value="Raça 1">Raça 1</option>
                                                                            <option value="Raça 2">Raça 2</option>
                                                                            <option value="Raça 3">Raça 3</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="petcastrado"
                                                                            class="form-label">Castrado</label>
                                                                        <select class="form-select" id="petcastrado"
                                                                            name="petcastrado" required>
                                                                            <option value="Castrado">Castrado</option>
                                                                            <option value="Não Castrado">Não Castrado
                                                                            </option>
                                                                            <option value="Não sei">Não sei</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="formFile" class="form-label">Escolha
                                                                            as fotos do Pet</label>
                                                                        <input class="form-control" type="file"
                                                                            id="formFile" name="fotos_pet[]" multiple>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn primaria">Atualizar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card conteudo" id="agendamentos">
                    <div class="card-body">
                        <!-- Aqui você pode listar os agendamentos -->
                        <p>Agendamentos aqui...</p>
                    </div>
                </div>
                <div class="card conteudo" id="configuracoes">
                    <div class="card-body">
                        <!-- Aqui você pode listar as configurações da conta -->
                        
                            
                    
                        <div class="form-group">
                            <label for="nomeONG">Nome da ONG:</label>
                            <input type="text" class="form-control" id="nomeONG" placeholder="Nome da ONG" required>
                          </div>
                          <div class="form-group">
                            <label for="cidadeONG">Cidade:</label>
                            <input type="text" class="form-control" id="cidadeONG" placeholder="Cidade" required>
                          </div>
                          <div class="form-group">
                            <label for="bairroONG">Bairro:</label>
                            <input type="text" class="form-control" id="bairroONG" placeholder="Bairro" required>
                          </div>
                          <div class="form-group">
                            <label for="ruaONG">Rua:</label>
                            <input type="text" class="form-control" id="ruaONG" placeholder="Rua" required>
                          </div>
                          <div class="form-group">
                            <label for="numONG">Número:</label>
                            <input type="number" class="form-control" id="numONG" placeholder="Número" required>
                          </div>
                          <div class="form-group">
                            <label for="telefoneONG">Telefone:</label>
                            <input type="tel" class="form-control" id="telefoneONG" placeholder="Telefone">
                          </div>
                          <div class="form-group">
                            <label for="emailONG">Email:</label>
                            <input type="email" class="form-control" id="emailONG" placeholder="Email">
                          </div>

                            <button type="submit" class="btn primaria btn-block mt-4">Atualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Conteúdo Principal End -->

    <!-- Footer -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 Artemis, Inc</p>
            <a href="index.html" class="navbar-brand">
                <img src="/img/logoazul-removebg.png" alt="Artemis" class="img-fluid"
                    style="width: 80px; height: auto;">
            </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-body-secondary">About</a>
                </li>
            </ul>
        </footer>
    </div>
    <!-- Footer End-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>