{% extends 'base.html' %}
{% load static %}
{% block titulo %}Produtos{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    <div class="container-fluid fruite ">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <form>
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">
                                    <input type="search" class="form-control p-3 text-start" placeholder="Pesquise" aria-describedby="search-icon-1" name="nome_produto_pesquisa">
                                    <button type="submit">
                                        <span id="search-icon-1" class="input-group-text p-3"><i
                                            class="fa fa-search"></i></span>
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
                        <div class="col-6"></div>
                        {% if nome_produto_pesquisa %}
                        <h2>Buscando por: {{ nome_produto_pesquisa }}</h2>
                        {% endif %}
                        <!-- <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Default Sorting:</label>
                                <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3"
                                    form="fruitform">
                                    <option value="volvo">Nothing</option>
                                    <option value="saab">Popularity</option>
                                    <option value="opel">Organic</option>
                                    <option value="audi">Fantastic</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Categoria</h4>
                                        <ul class="list-unstyled">
                                            
                                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                                <label for="categoria">Categoria:</label>
                                                <select
                                                    id="categoria"
                                                    name="categoria"
                                                    class="border-0 form-select-sm bg-light me-3"
                                                    form="categoriaform"
                                                    hx-get="../load_produtos_categoria/"                               
                                                    hx-target="#containercardsprodutos"                        
                                                >
                                                
                                                <option value="" selected></option> 
                                                {% for categoria in categorias %}
                                                    <option value="{{ categoria.ctpid }}">                                   
                                                        {{ categoria.ctpnome }}                                   
                                                    </option>
                                                    
                                                
                                                {% endfor %}
                                                </select>
                                            </div>
                                            <li>
                                                <div class="d-flex justify-content-between ">
                                                    <a href="#" class="azul">
                                                        <!-- <i class="fas fa-apple-alt me-2"></i> -->
                                                        {{ categoria.ctpnome }}</a>
                                                    <!-- <span>(3)</span> -->
                                                </div>
                                            </li>
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-left" id="containercardsprodutos">
                                {% for produto in produtos %}
                                
                                <div class="col-md-6 col-lg-6 col-xl-4"
                                hx-get="../fotoproduto/{{ produto.proid }}/0"
                                hx-target="#fotoproduto{{ produto.proid }}"
                                hx-trigger="load">
                                    <div class="rounded position-relative fruite-item">
                                        <a href="{% url 'produto_detalhe' produto.proid %}">
                                        <div class="fruite-img" id="fotoproduto{{ produto.proid }}">
               
                                        </div>
                                        </a>

                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">                                           
                                            <h4>{{ produto.pronome }}</h4>
                                            <p>{{ produto.prodescricao }}</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">R$ {{ produto.propreco }}</p>
                                                <a href="{% url 'produto_detalhe' produto.proid %}"
                                                    class="btn  secondaria rounded-pill px-3 ">
                                                    <i class="fa fa-shopping-bag me-2 secondria"></i> Ver detalhes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
