{% extends 'base.html' %}
{% block titulo %}Agendar serviço{% endblock %}
{% block content %}
{% load static %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger mt-3" role="alert">
    {{message}}
</div>
{% else %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endif %}
{% endfor %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card p-4 shadow-sm">
                    <div class="card-body">
                        <form id="multi-step-form" method="post" action="{% url 'solicita_servico_junto' %}">
                            {% csrf_token %}
                            <div class="formbold-steps">
                                <ul>
                                    <li class="formbold-step-menu1 active">
                                        <span>1</span>
                                        Escolher Pet
                                    </li>
                                    <li class="formbold-step-menu2">
                                        <span>2</span>
                                        Escolher Serviço
                                    </li>
                                    <li class="formbold-step-menu3">
                                        <span>3</span>
                                        Escolher Local
                                    </li>
                                    <li class="formbold-step-menu4">
                                        <span>4</span>
                                        Escolher Data
                                    </li>
                                </ul>
                            </div>
                        
                            <!-- ESCOLHER PET -->                       
                            <div class="form-step form-step-1 active">
                                <div class="mb-3">
                                    <label for="pet" class="form-label">Pet</label>
                                    <select name="pet" id="pet" class="form-select" required>
                                        <option value="">Selecione um pet</option>
                                        {% for pet in pets %}
                                        <option value="{{ pet.petid }}">{{ pet.petnome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        
                            <!-- ESCOLHER Tipo Serviço -->
                            <div class="form-step form-step-2 active">
                                <div class="mb-3">
                                    <label class="form-label">Tipo Serviço</label>
                                    <div class="scrollable-list">                                              
                                            <!-- Classe list-group-item estava impedindo os radios de serem selecionados -->
                                            <select name="tipo_servico" id="tipo_servic"
                                            hx-get="select_cidades_tpservico/"                               
                                            hx-target="#cidade">
                                            <option value="" selected></option> 
                                            {% for tipo in tipos_servico %} 
                                                <option value="{{ tipo.tpsid }}">                                   
                                                    <strong>{{ tipo.tpsnome }}:</strong><br>
                                                    {{ tipo.tpsdescricao }}                                   
                                                </option>
                                            {% endfor %}
                                            </select>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- ESCOLHER LOCAL -->
                            <div class="form-step form-step-3 active">
                                <div class="row g-2 justify-content-end">
                                    <div class="col-md-4 d-flex">
                                        <div class="mb-3 w-100">
                                            <select name="cidade" id="cidade"
                                            hx-get="load_petshop_cidade/?tipo_servico={{ tipo_servico_selecionado }}"  
                                            hx-params="cidade, tipo_servico"                            
                                            hx-target="#petshop_cidade"
                                            hx-trigger="click"> 
                                            </select>
                                        </div>    
                                            
                                    </div>
                                    <div class="scrollable-list">
                                        <h2>Pet shop</h2>
                                        <div id="petshop_cidade"></div>                              
                                    </div>
                                    
                                </div>
                            </div>
                                                      
                            <!-- ESCOLHER DATA -->
                            <div class="form-step form-step-4 d-none">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Data</label>
                                            <input type="date" name="date" id="date" class="form-control" />
                                        </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="time" class="form-label">Hora</label>
                                            <input type="time" name="time" id="time" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="d-flex justify-content-between mt-4">
                                <button type="button" class="btn btn-secondary" id="back-btn">Voltar</button>
                                <button type="button" class="btn btn-primary" id="next-btn">Próxima Etapa</button>
                                <button type="submit" class="btn btn-primary d-none" id="finish-btn">Finalizar</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stepMenus = document.querySelectorAll('.formbold-steps li');
            const formSteps = document.querySelectorAll('.form-step');
            const nextBtn = document.getElementById('next-btn');
            const backBtn = document.getElementById('back-btn');
            const finishBtn = document.getElementById('finish-btn');

            let currentStep = 0;

            function updateSteps() {
                stepMenus.forEach((menu, index) => {
                    menu.classList.toggle('active', index === currentStep);
                });
                formSteps.forEach((step, index) => {
                    step.classList.toggle('d-none', index !== currentStep);
                    step.classList.toggle('active', index === currentStep);
                });
                backBtn.classList.toggle('d-none', currentStep === 0);
                nextBtn.textContent = currentStep === stepMenus.length - 1 ? 'Finalizar' : 'Próxima Etapa';
                if (currentStep === stepMenus.length - 1) {
                    finishBtn.setAttribute("class", "btn btn-primary active");
                    nextBtn.setAttribute("class", "btn btn-primary d-none");
                }
            }

            nextBtn.addEventListener('click', function () {
                if (currentStep < stepMenus.length - 1) {
                    currentStep++;
                    updateSteps();
                } else {
                    document.getElementById('multi-step-form').submit();
                }
            });

            backBtn.addEventListener('click', function () {
                if (currentStep > 0) {
                    currentStep--;
                    updateSteps();
                }
            });

            updateSteps();
        });

        

    </script>
{% endblock %}
