{% extends 'base.html' %}
{% block titulo %}Cadastro{% endblock %}
{% block content %}
        <h3 class="text-center login-text-titulo">Criar conta</h3>
        <!-- SECTION start -->
        <section class="container-fluid py-5">
            {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}                    
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="cadastro-container">
                                <form class="login-form bg-white">
                                    <div class="mb-3">
                                        <label for="cadastroNome" class="form-label">Nome e sobrenome</label>
                                        <input type="text" class="form-control" id="cadastroNome" placeholder="Digite seu nome e sobrenome" name="username" autocomplete="name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroEmailFisica" class="form-label">E-mail</label>
                                        <input type="email" class="form-control" id="cadastroEmailFisica" placeholder="Digite seu e-mail" name="email" autocomplete="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroCelularFisica" class="form-label">Celular</label>
                                        <input type="tel" class="form-control" id="cadastroCelularFisica" placeholder="DDD + Celular" name="cell" autocomplete="tel" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroTelefoneFisica" class="form-label">Telefone (opcional)</label>
                                        <input type="tel" class="form-control" id="cadastroTelefoneFisica" placeholder="DDD + Telefone" name="phone" autocomplete="tel">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroSexo" class="form-label">Sexo (opcional)</label>
                                        <select class="form-select" id="cadastroSexo">
                                            <option selected disabled>Escolha o sexo</option>
                                            <option value="feminino">Feminino</option>
                                            <option value="masculino">Masculino</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroDataNascimento" class="form-label">Data de nascimento (opcional)</label>
                                        <input type="date" class="form-control" id="cadastroDataNascimento" placeholder="Digite a data de nascimento" name="birth" autocomplete="date">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroCPF" class="form-label">CPF</label>
                                        <input type="text" class="form-control" id="cadastroCPF" placeholder="Digite o seu CPF" name="cpf" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroSenhaFisica" class="form-label">Senha</label>
                                        <input type="password" class="form-control" id="cadastroSenhaFisica" placeholder="Digite sua senha" name="password1" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cadastroConfirmarSenhaFisica" class="form-label">Confirmar a senha</label>
                                        <input type="password" class="form-control" id="cadastroConfirmarSenhaFisica" placeholder="Confirme sua senha" name="password2" required>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="true" id="concordoTermos" required>
                                        <label class="form-check-label" for="concordoTermos">
                                            Concordo com os <a href="#">termos e condições</a>
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url 'loginaccount' %}" class="btn btn-outline-secondary" style="margin-right: 10px;">Login</a>
                                        <button type="submit" class="btn btn-primary flex-grow-1">Cadastrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
        </section>
        <!-- SECTION end -->
{% endblock content %}
