{% extends 'base.html' %}
{% block content %}
        <h3 class="text-center login-text-titulo">Acessar ou criar conta</h3>
        <!-- SECTION start -->
        {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
            </div>
        {% endif %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger mt-3" role="alert">
                {{message}}
                </div>
            {% else %}
                <div class="alert alert-{{message.tags}}">
                {{message}}
                </div>
            {% endif %}
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <section class="container-fluid py-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="login-container">
                            <form class="login-form bg-white rounded p-4">
                                <h2 class="text-center mb-4 text-primary">Acesse sua conta</h2>
                                <div class="login-form-group">
                                    <label for="email">E-mail</label>
                                    <input
                                        name="email"
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        placeholder="Digite seu e-mail"
                                        required
                                    >
                                </div>
                                <div class="login-form-group">
                                    <label for="password">Senha</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        placeholder="Sua senha"
                                        required
                                    >
                                </div>
                                <div class="login-form-group">
                                    <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">ENTRAR</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="login-cadastro-container">
                            <h3 class="text-left text-primary mb-3">Criar uma conta é rápido, fácil e gratuito!</h3>
                            <p class="text-left mb-3">Com sua conta, você terá acesso a recursos exclusivos, descontos e muito mais.</p>
                            <a href="{% url 'cadastro_account' %}" class="btn btn-outline-secondary btn-block">Criar minha conta</a>
                        </div>
                    </div>                
                </div>
            </section>
        </form>
{% endblock %}
