{% extends 'base.html' %}
{% block titulo %}Ong dados{% endblock %}
{% block content %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger mt-3" role="alert">
        {{message}}
        </div>
    {% else %}
        <div class="alert alert-{{message.tags}}">
        {{message}}
        </div>
    {% endif %}
{% endfor %}
    <!-- Conteúdo Principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <!-- Menu de Navegação do Perfil -->
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true"
                        data-target="pets">Pets em Adoção</a>
                    <a href="#" class="list-group-item list-group-item-action"
                        data-target="agendamentos">Agendamentos</a>
                    <a href="#" class="list-group-item list-group-item-action" data-target="configuracoes">Configurações
                        da Conta</a>
                    <!-- Adicione mais links conforme necessário -->
                </div>
            </div>
            <div class="col-md-9">
                <!-- Conteúdo Dinâmico do Perfil -->
                <div class="card conteudo" id="pets">
                    <div class="card-body">
                        <!-- Título -->
                        <h5 class="card-title mb-4">Pets Cadastrados</h5>
                        <!-- Adicionei a classe mb-4 para adicionar uma margem na parte inferior -->
                        <!-- Seção de Pets -->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-3">
                            <!-- Alterei row-cols-lg-3 para row-cols-lg-4 para exibir até 4 cards por linha em telas grandes -->
                            {% if pets %}
                            {% for pet in pets %}
                            <!-- Pet 1 -->
                            <div class="col" 
                            hx-get="fotopet/{{pet.petid}}/2"
                            hx-target="#fotopet{{pet.petid}}"
                            hx-trigger="load">
                                <!-- <div class="card h-100"
                                    hx-get="modalpet/{{ pet.petid }}" 
                                    hx-target="#modalpet"> -->
                                <div class="card h-100">
                                    <a href="#" class="text-decoration-none pet-link"                   data-bs-toggle="modal"
                                    
                                    data-bs-target="#modalEditarPet{{pet.petid}}" data-pet-id="{{ pet.petid }}">
                                        <div
                                            class="card-body text-center d-flex justify-content-center align-items-center flex-column"> 
                                            <div id="fotopet{{pet.petid}}"></div>                                          
                                            <h6 class="card-title mt-2 mb-0 text-body-secondary">{{ pet.petnome }}</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
<div class="modal fade" id="modalEditarPet{{pet.petid}}" tabindex="-1" aria-labelledby="modalEditarPetLabel"
hx-get="{% url 'fotopet' pet.petid 2 %}"
hx-target="#fotopetmodal{{pet.petid}}"
hx-trigger="load"
>
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header text-white">
            <h5 class="modal-title text-body-secondary" id="modalEditarPetLabel">Edição do Pet {{ pet.petnome }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body" style="max-height: 600px; overflow-y: auto;"
        hx-get="{% url 'fotopet' pet.petid 2 %}"
        hx-target="#fotopet{{pet.petid}}"
        hx-trigger="load">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">                   
                                <!-- Seção de foto do pet -->
                                <div class="mb-4 text-center">
                                    <div id="fotopetmodal{{pet.petid}}"></div>
                                    <h5 class="mt-3">{{ pet.petnome }}</h5>
                                </div>
                                <!-- Formulário de edição do pet -->
                                <div class="mb-3">
                                    <div class="card-body">
                                        <form action="{% url 'atualizarpet' pet.petid %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="especie" class="form-label">Tipo do Pet (Espécie)</label>
                                                <select
                                                    id="especie"
                                                    name="especie"
                                                    class="form-select"
                                                    id="pettipo"
                                                    name="pettipo"
                                                    required
                                                    hx-get="{% url 'load_racas' %}"
                                                    hx-target="#id_raca{{pet.petid}}"
                                                >
                                                    <option value="" selected></option>
                                                    {% for tipo in pettipos %}
                                                    <option value="{{ tipo.pttid }}" >{{ tipo.pttnome }}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                            <div class="mb-3">
                                                <label for="petnome" class="form-label">Nome</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="petnome"
                                                    name="petnome"
                                                    required
                                                    value="{{ pet.petnome }}"
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Sexo</label>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="petsexo"
                                                        id="sexoM"
                                                        value="M"
                                                        checked
                                                    >
                                                    <label class="form-check-label" for="sexoM">
                                                        Macho
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="petsexo"
                                                        id="sexoF"
                                                        value="F"
                                                    >
                                                    <label class="form-check-label" for="sexoF">
                                                        Fêmea
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="petdtnascto" class="form-label">Data de nascimento (aproximada)</label>
                                                <input
                                                    type="date"
                                                    class="form-control"
                                                    id="petdtnascto"
                                                    name="petdtnascto"
                                                    required
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="petporte" class="form-label">Porte do Pet</label>
                                                <div class="d-flex align-items-center">
                                                    <select
                                                        class="form-select"
                                                        id="petporte"
                                                        name="petporte"
                                                        required
                                                    >
                                                    {% for porte in petportes %}
                                                        <option value="{{porte.ptpid }}">{{ porte.ptpnome }}: {{ porte.ptpdescricao }}</option>
                                                    {% endfor %}
                                                    </select>
                                                    <button
                                                        class="btn btn-link"
                                                        type="button"
                                                        id="btnInfoPorte"
                                                        data-bs-toggle="popover"
                                                        title="Porte do Pet"
                                                        data-bs-content="Pequeno: Geralmente até 30 cm de altura.Médio: Costuma ter entre 30 cm e 60 cm de altura.Grande: Geralmente mais de 60 cm de altura."
                                                    >
                                                        <i class="bi bi-question-circle"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="petpeso" class="form-label">Peso (em kg)</label>
                                                <input
                                                    type="number"
                                                    step="0.01"
                                                    class="form-control"
                                                    id="petpeso"
                                                    name="petpeso"
                                                    required                            
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="id_raca{{pet.petid}}" class="form-label">Raça do Pet</label>
                                                <select class="form-select" id="id_raca{{pet.petid}}" name="petraca" required>          
                                                </select>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label for="petcastrado" class="form-label">Castrado</label>
                                                <select
                                                    class="form-select"
                                                    id="petcastrado"
                                                    name="petcastrado"
                                                    required
                                                >
                                                    <option value="Castrado">Castrado</option>
                                                    <option value="Não Castrado">Não Castrado</option>
                                                    <option value="Não sei">Não sei</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label">Escolha as fotos do Pet</label>
                                                <input
                                                    class="form-control"
                                                    type="file"
                                                    id="formFile"
                                                    name="fotos_pet"
                                                    multiple
                                                >
                                            </div>
                                            <button type="submit" class="btn primaria">Atualizar</button>
                                        </form>
                                    </div>
                                </div>                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% else %}
<p>Você ainda não possui pets cadastrados</p>
{% endif %}
                </div>
            </div>
                    <!-- Botão para adicionar pets -->
                    <a href="{% url 'cadastropet' %}">
                    <button type="button" class="btn btn-primary btn-floating position-absolute top-0 end-0 mt-3 me-3"
                        id="btnAdicionarPet">
                        <i class="fas fa-plus"></i>
                    </button>
                    </a>
                </div>

                <div class="card conteudo" id="agendamentos">
                    <div class="card-body">
                        <!-- Aqui você pode listar os agendamentos -->
                        <p>Agendamentos aqui...</p>
                    </div>
                </div>
                <div class="card conteudo" id="configuracoes">
                    <div class="card-body">
                        <!-- Aqui você pode listar as configurações da conta --> 
                        
                        <form action="{% url 'atualizar_ong' ong.ongid %}" method="post">
                            {% csrf_token %}                 
                        <!-- Início ONG -->
                        <h4 class="mb-3">Informações de ONG</h4>
                        <div class="form-group">
                          <label for="nomeONG">Nome da ONG:</label>
                          <input type="text" class="form-control" id="nomeONG" placeholder="Nome da ONG" required name="nomeONG" maxlength="65" value="{{ ong.ongnome }}">
                        </div>
                        <div class="form-group">
                          <label for="cidadeONG">Cidade:</label>
                          <input type="text" class="form-control" id="cidadeONG" name="cidadeONG" placeholder="Cidade" required maxlength="70" value="{{ ong.ongcidade }}">
                        </div>
                        <p>
                          <div class="form-group">
                            <label for="iestong">Estado</label>
                            <select name="ongestado" id="iestong" required>
                                <optgroup label="Região Norte">
                                    <option value="AC">Acre</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="PA">Pará</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="TO">Tocantins</option>
                                </optgroup>
                                <optgroup label="Região Nordeste">
                                    <option value="AL">Alagoas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="SE">Sergipe</option>
                                </optgroup>
                                <optgroup label="Região centro-oeste">
                                    <option value="GO">Goiás</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                </optgroup>
                                <optgroup label="Região Sudeste">
                                    <option value="ES">Espírito Santo</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="SP">São Paulo</option>
                                </optgroup>
                                <optgroup label="Região Sul">
                                    <option value="PR">Paraná</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="SC">Santa Catarina</option>
                                </optgroup>
                            </select>
                          </div>
                        </p>
                        <div class="form-group">
                          <label for="bairroONG">Bairro:</label>
                          <input type="text" class="form-control" name="bairroONG" id="bairroONG" placeholder="Bairro" required maxlength="70" value="{{ ong.ongbairro }}">
                        </div>
                        <div class="form-group">
                          <label for="ruaONG">Rua:</label>
                          <input type="text" class="form-control" id="ruaONG" name="ruaONG" required maxlength="70" value="{{ ong.ongrua }}">
                        </div>
                        <div class="form-group">
                          <label for="numONG">Número:</label>
                          <input type="number" class="form-control" id="numONG" name="numONG" placeholder="Número" required">
                        </div>
                        <div class="form-group">
                          <label for="telefoneONG">Telefone:</label>
                          <input type="tel" class="form-control" name="telefoneONG" id="telefoneONG" placeholder="Telefone" required onkeydown="javascript: fMasc( this, mTel );" maxlength="14" value="{{ ong.ongtelefone }}">
                        </div>
                        <div class="form-group">
                          <label for="emailONG">Email:</label>
                          <input type="email" class="form-control" name="emailONG" id="emailONG" placeholder="Email" value="{{ ong.ongemail }}">
                        </div>
                        <button type="submit" class="btn primaria btn-block mt-4">Atualizar</button>
                      </form>

                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Conteúdo Principal End -->
{% endblock %}