{% extends 'base.html' %}
{% block titulo %}Recuperar conta{% endblock %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center height-100">
        <div class="row justify-content-center">
            <div class="col-md-10 mt-5">
                <h3 class="text-center login-text-titulo">Recuperar conta</h3>
                <p class="text-center">Informe o seu endereço de e-mail abaixo e enviaremos um link para você redefinir
                    sua senha.</p>
                <form id="formRecuperarSenha">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Endereço de E-mail</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar Email de Recuperação</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}