{% extends 'base.html' %}
{% block titulo %}Alterar senha{% endblock %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
                <h3 class="text-center login-text-titulo">Alterar senha</h3>
                <form id="formConfirmarSenha" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="novaSenha" class="form-label">Nova Senha</label>
                        <input type="password" class="form-control" id="novaSenha" name="password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmarSenha" class="form-label">Confirmar Nova Senha</label>
                        <input type="password" class="form-control" id="confirmarSenha" name="password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
