
body {
    background-image: linear-gradient(to bottom, red, orange);             
}

h2 {
    border-bottom: 1px solid blue;
    padding: 10px 0;
    margin-bottom: 20px;
}

p {
    text-align: center;
}


